<h1>Votre appartement</h1>

<% @user_place.availabilities.each do |availability| %>
<%= availability.start %>
<%= availability.end %>
<% end %>

<%= month_calendar do |date| %>
  <%= date %>
<% end %>