<div class="info_window">
  <h3><%= user.first_name %> <%= user.last_name %></h3>
  <p><%= user.address %></p>
  <%= link_to "Reserver", "/resaconfirm?baby=#{user.id}", target: :blank, class: "btn btn-primary" %>
</div>
