<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('http://www.gimmobilierdeprestige.com/nos-biens-immobiliers-de-prestige/immobilier-images/511/5535_Appartements_et_Hotels_particuliers_Ile_Maurice_appartement_prestige_3_chambres.jpg');">
</div>

<div class="container">
  <div id="resabox">

    
    <div class="resaleft">
      <div class="card-user-resa"> <%= avatar_img_babysitter("img-circle", @babysitter) %>
      </div>
    </div>

    <div class="resaright">
      <%= render 'shared/resaform' %>
    </div>
  </div>
</div>
