<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= @user_place.photo %>);">
</div>

<div class="container">
  <div id="resabox">
    
  <div class="resaleft">
    <div class="babysitterphoto">
   </div>

      <%= render 'shared/flat' %>

  </div>

  <div class="resaright">
  <%= render 'shared/resaform' %>
    
  </div>
  </div>

</div>
