<h1>Mes logements et disponibilités</h1>

<% current_user.user_places.each do |user_place|  %>
<% @user_place = user_place %>
<%= render 'shared/flat' %>
<% end %>


<%= month_calendar do |date| %>
  <%= date.day %>
<% end %>